<div class="container mt-4">
  @if (product()) {
    <div class="card shadow-sm">
      <div class="card-body">
        <h2>
          {{ product()?.name }}
        </h2>

        <p class="text-muted">
          {{ product()?.description }}
        </p>

        <h4 class="text-primary">${{ product()?.price }}</h4>

        <img [src]="product()?.imageUrl" class="img-fluid mt-3" alt="Product image" />
      </div>
    </div>
  } @else {
    <div class="text-center mt-5">Product not found.</div>
  }
</div>