# .env.example
# This file is an example of the environment variables needed for the application to run.
# Copy this file to .env and fill in the values.

# Port number for the application to listen on /DEFAULT: 3000
PORT=3000

# Environment (Options: dev, test)
ENV=dev

# PostgreSQL Credentials (Used by Docker to create the user)
POSTGRES_USER=username #must match username url below
POSTGRES_PASSWORD=password  #must match password url below

# Database connection URL (Inside Docker: use 'db' as host | Local: use 'localhost')
DATABASE_URL=postgresql://username:password@db:5432/your_database_name
DATABASE_URL_TEST=postgresql://username:password@db:5432/your_database_name_test

# Security (Required for Bcrypt and JWT)
# PEPPER: A long random string used during password hashing
PEPPER=your_secret_pepper_string_here
# BCRYPT_SALT_ROUNDS: The cost factor for hashing (e.g., 10 or 12)
BCRYPT_SALT_ROUNDS=12
# TOKEN_SECRET: Secret key for signing and verifying JWTs
TOKEN_SECRET=your_jwt_secret_key_here
