<div class="px-4 py-5 my-5 text-center bg-light rounded-3 shadow-sm">
  <h1 class="display-4 fw-bold text-primary">Welcome to my Store</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Discover a wide range of products at unbeatable prices. Shop now and experience the best in
      online shopping with us!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        <a [routerLink]="['/products']" class="text-white text-decoration-none">Shop Now</a>
      </button> -->
      <a routerLink="/products" class="btn btn-primary btn-lg">
  Shop Now
</a>
    </div>
  </div>
</div>
